<app-loading-state [loading]="loading" [message]="'common.loading' | translate" />

<div class="table-responsive">
  <table class="table app-table">
    <thead>
      <tr>
        <th scope="col">{{ 'table.number' | translate }}</th>
        <th scope="col">{{ 'table.artwork' | translate }}</th>
        <th scope="col">{{ 'table.name' | translate }}</th>
        <th scope="col">{{ 'table.price' | translate }}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @for (song of songs$ | async; track song.id; let i = $index) {
        <tr>
          <th scope="row">{{ i + 1 }}</th>
          <td><img [src]="song.artworkUrl" [alt]="song.title" width="48" height="48" class="rounded-2" /></td>
          <td>{{ song.title }}</td>
          <td>{{ song.currency }} {{ song.price.toFixed(2) }}</td>
          <td>
            <button type="button" class="btn btn-sm btn-dark btn-with-icon" (click)="addToCart(song)">
              <fa-icon icon="cart-plus" />
              {{ 'search.addToCart' | translate }}
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
