<div class="row">
  <!-- <div class="col-sm-12" style="min-height:100vh;
  background-image: url('assets/itunes.jpg'); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; "> -->
  <div class="col-sm-12">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 style="font-weight: normal;">Welcome to your iTunes Search App</h1>
        <p class="lead">Find the best artists, songs and albums here.</p>
      </div>
    </div>
  </div>
</div>